@font-face {
    font-family: 'Skia';
    src: url('/mnt/data/ufonts.com_skia.ttf') format('truetype');
}


body{
    background-color:#BAEBE9
}

.mijn-achtergrond{
    background-color: #FFA8A8;
}
.mijn-achtergrond2{
    background-color: #EBBAE0;
}

a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    padding: 0.5em;
    border-radius: 1em;
    font-family: 'Skia', sans-serif;
    font-weight: bold;
    font-size: large;

  }
  
  
img {
    width: 21.1em;
    margin-top: 1em; 

}

.logo{
    width: 6em;
    margin: 0%;
    margin-left: 0.1em;
    
}

.logof{
    width: 5em;
    margin-bottom: -2em;
}

  nav ul{
    flex-wrap: wrap;
    display: flex;
    justify-content: right;
    align-items: center;
    font-family: skia;
    margin-right: 0.3em;
 }
  
  
  li {

    list-style: none;
    margin: 0.4em;
    padding: 0.5em;
    border-radius: 1em;
    font-size: larger;
    background-color: rgb(255, 255, 255);
  }


  header {
    display: flex;
    align-items: center; 
    height: 10em;
    margin-right: 2%;
    position: fixed;
    background-color:#c40180;
    border-radius: 0.7em;
    
    }

    .home-link{
        background-color: #00000000;
    }
  
    h1{
    font-size: 200%;
    text-align: center;
    margin-left: 0.7em;
    font-family: 'Skia', sans-serif;
    font-weight:bold;
    padding-top: 6em;
    
    }

    h2 {
        font-family: 'Skia', sans-serif;
        font-weight: bold;
    }
    h3{
        font-family: 'Skia', sans-serif;
        font-weight: bold;
        font-size: 150%;  
    }

    h4{
        font-family: 'Skia', sans-serif;
        font-weight: bold;
        font-size: 150%;  

    }

    h5{
        font-family: 'Skia', sans-serif;
        font-weight: bold;
        font-size: 150%;    
    }

    
    p {
        text-align: center;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        background-color: rgba(255, 255, 255, 0.791);
        padding: 0.6em;
        border-radius: 0.7em;
        line-height: 1.6em;
        margin-bottom: 9%;
        margin-top: 10%;

    }


    .blog-link{
        background-color: #EBBAE0;
        font-size:1.4em;
    }

    footer {
        background-color:#B50077;
        margin-top: 2em;
        color: white;
        height: 35vh;
        text-align: center;
        

      }
      .tekstfooter{
        background-color: #00000000;
        margin-bottom: 4%;
        font-size: 0.8em;
      }

    main{
    text-align: center;
     }

     

     

  